/* Importing from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #07574c;
  padding-bottom: 40px;
}

p {
  font-size: 14px;
}

img {
  width: 100%;
  object-fit: cover;
}

img.centered {
  width: 100px;
  height: 100px;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  transform: translateY(-60px);
}

.container {
  padding: 0;
}

.icon {
  width: 15px;
  height: auto;
}

.bg-white {
  background-color: white;
}

.padding-20 {
  padding: 20px;
}

.bold {
  font-weight: bold;
}

.blue {
  font-size: 16px;
  color: blue;
}

.light-blue-col {
  color: #638a95;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-100 {
  margin-top: 100px;
}

.padding-top-20 {
  padding-top: 20px;
}

.text-white {
  color: white;
}

.fav-icon {
  width: 50px;
}

.display-inline-block {
  display: inline-block;
}

.div-height {
  height: 50px;
}

.padding-left-24 {
  padding-left: 24px;
}

.yellow-h-color {
  color: #d6b04a;
}

.margin-top-37 {
  margin-top: 37px;
}

.margin-top-60 {
  margin-top: 60px;
}

.icon-div {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70%;
  text-align: center;
}

.icon-div p {
  margin-top: 15px;
}

.font-size-16 {
  font-size: 16px;
}

.positioning {
  position: absolute;
  top: 10px;
  left: 80%;
}

.position-relative {
  position: relative;
}

@media (max-width: 900px) {
  #column-remove-left-padding,
  #column-remove-left-padding-2,
  #column-remove-left-padding-3 {
    padding-left: 12px;
  }
}
